@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5z7i9u');
  src:  url('fonts/icomoon.eot?5z7i9u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5z7i9u') format('truetype'),
    url('fonts/icomoon.woff?5z7i9u') format('woff'),
    url('fonts/icomoon.svg?5z7i9u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bancoestado {
  width: 10%;
  margin-bottom: 16px;
}
.webpay {
  width: 8%;
  margin-bottom: 16px;
}
.bancodechile {
  width: 10%;
  margin-bottom: 16px;
}

.icon-bancoestado .path1:before {
  content: "\e900";
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path2:before {
  content: "\e901";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path3:before {
  content: "\e902";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path4:before {
  content: "\e903";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path5:before {
  content: "\e904";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path6:before {
  content: "\e905";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path7:before {
  content: "\e906";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path8:before {
  content: "\e907";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path9:before {
  content: "\e908";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path10:before {
  content: "\e909";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path11:before {
  content: "\e90a";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path12:before {
  content: "\e90b";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path13:before {
  content: "\e90c";
  margin-left: -1.6123046875em;
  color: rgb(204, 203, 201);
}
.icon-bancoestado .path14:before {
  content: "\e90d";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path15:before {
  content: "\e90e";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path16:before {
  content: "\e90f";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path17:before {
  content: "\e910";
  margin-left: -1.6123046875em;
  color: rgb(168, 168, 168);
}
.icon-bancoestado .path18:before {
  content: "\e911";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path19:before {
  content: "\e912";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path20:before {
  content: "\e913";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path21:before {
  content: "\e914";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path22:before {
  content: "\e915";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path23:before {
  content: "\e916";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path24:before {
  content: "\e917";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path25:before {
  content: "\e918";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bancoestado .path26:before {
  content: "\e919";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-bbva:before {
  content: "\e91a";
}
.icon-presto:before {
  content: "\e91b";
}
.icon-tbanc:before {
  content: "\e91c";
}
.icon-ripley:before {
  content: "\e91d";
}
.icon-webpay .path1:before {
  content: "\e91e";
  color: rgb(255, 255, 255);
}
.icon-webpay .path2:before {
  content: "\e91f";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path3:before {
  content: "\e920";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path4:before {
  content: "\e921";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path5:before {
  content: "\e922";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path6:before {
  content: "\e923";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path7:before {
  content: "\e924";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path8:before {
  content: "\e925";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path9:before {
  content: "\e926";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path10:before {
  content: "\e927";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path11:before {
  content: "\e928";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path12:before {
  content: "\e929";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path13:before {
  content: "\e92a";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path14:before {
  content: "\e92b";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path15:before {
  content: "\e92c";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path16:before {
  content: "\e92d";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path17:before {
  content: "\e92e";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path18:before {
  content: "\e92f";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path19:before {
  content: "\e930";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path20:before {
  content: "\e931";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path21:before {
  content: "\e932";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path22:before {
  content: "\e933";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path23:before {
  content: "\e934";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path24:before {
  content: "\e935";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path25:before {
  content: "\e936";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path26:before {
  content: "\e937";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path27:before {
  content: "\e938";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path28:before {
  content: "\e939";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path29:before {
  content: "\e93a";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path30:before {
  content: "\e93b";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path31:before {
  content: "\e93c";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path32:before {
  content: "\e93d";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path33:before {
  content: "\e93e";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path34:before {
  content: "\e93f";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path35:before {
  content: "\e940";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path36:before {
  content: "\e941";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path37:before {
  content: "\e942";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path38:before {
  content: "\e943";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path39:before {
  content: "\e944";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path40:before {
  content: "\e945";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path41:before {
  content: "\e946";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path42:before {
  content: "\e947";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path43:before {
  content: "\e948";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path44:before {
  content: "\e949";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path45:before {
  content: "\e94a";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path46:before {
  content: "\e94b";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path47:before {
  content: "\e94c";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path48:before {
  content: "\e94d";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path49:before {
  content: "\e94e";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path50:before {
  content: "\e94f";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path51:before {
  content: "\e950";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path52:before {
  content: "\e951";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path53:before {
  content: "\e952";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path54:before {
  content: "\e953";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path55:before {
  content: "\e954";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path56:before {
  content: "\e955";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path57:before {
  content: "\e956";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path58:before {
  content: "\e957";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path59:before {
  content: "\e958";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path60:before {
  content: "\e959";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path61:before {
  content: "\e95a";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path62:before {
  content: "\e95b";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path63:before {
  content: "\e95c";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path64:before {
  content: "\e95d";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path65:before {
  content: "\e95e";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path66:before {
  content: "\e95f";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path67:before {
  content: "\e960";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path68:before {
  content: "\e961";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path69:before {
  content: "\e962";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path70:before {
  content: "\e963";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path71:before {
  content: "\e964";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path72:before {
  content: "\e965";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path73:before {
  content: "\e966";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path74:before {
  content: "\e967";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path75:before {
  content: "\e968";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path76:before {
  content: "\e969";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path77:before {
  content: "\e96a";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path78:before {
  content: "\e96b";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path79:before {
  content: "\e96c";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path80:before {
  content: "\e96d";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path81:before {
  content: "\e96e";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path82:before {
  content: "\e96f";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path83:before {
  content: "\e970";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path84:before {
  content: "\e971";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path85:before {
  content: "\e972";
  margin-left: -1.6123046875em;
  color: rgb(204, 204, 202);
}
.icon-webpay .path86:before {
  content: "\e973";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path87:before {
  content: "\e974";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path88:before {
  content: "\e975";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path89:before {
  content: "\e976";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path90:before {
  content: "\e977";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path91:before {
  content: "\e978";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path92:before {
  content: "\e979";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path93:before {
  content: "\e97a";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path94:before {
  content: "\e97b";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path95:before {
  content: "\e97c";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path96:before {
  content: "\e97d";
  margin-left: -1.6123046875em;
  color: rgb(255, 255, 255);
}
.icon-webpay .path97:before {
  content: "\e97e";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path98:before {
  content: "\e97f";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path99:before {
  content: "\e980";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path100:before {
  content: "\e981";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path101:before {
  content: "\e982";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path102:before {
  content: "\e983";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path103:before {
  content: "\e984";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path104:before {
  content: "\e985";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path105:before {
  content: "\e986";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path106:before {
  content: "\e987";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-webpay .path107:before {
  content: "\e988";
  margin-left: -1.6123046875em;
  color: rgb(169, 168, 168);
}
.icon-bci:before {
  content: "\e989";
}
/*.icon-bancodechile:before {
  content: "\e98a";
}*/

