/*
 Theme Name:   Neighborhood Child
 Theme URI:    https://denda.cl/
 Description:  Denda Child
 Author:       Dendamarket
 Author URI:   https://denda.cl
 Template:     neighborhood
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  neighborhood
*/

.out-of-stock-badge{
    background-color: #6f6f6f !important;
}

/* finalizar compra boton azul denda*/

#place_order {
    background-color: #54b3ba !important;
}

/* Hide Postal Code*/
#billing_postcode_field{
    display: none !important;
}

/*Hide count products*/

.woocommerce-count-wrap {
    display: none;
}

@media only screen (min-width: 700px){

.form-wppp-select, select.wppp-select, .wppp-select, .form-wppp-select, .products-per-page{
	float: left !important;
	margin-top:-50px !important;
position:relative;

	}
}


@media only screen (max-device-width : 667px){
    .form-wppp-select{
        float: right !important;
        top: 50px !important;
        position:relative;
	margin-bottom:10px;
        
    }

 .sidebar.left-sidebar {
    padding-right: 0;
    margin-top: 40px;
	}
}

/*Select de productos por pagina*/
.woocommerce-show-products{
display:none;
}
.wppp-select{
    height:40px;
}


/* Modificaciones */
ul.social-icons{
	text-align:center;
}
ul.social-icons li{
	float:none;
	margin:0 5px;
}
.woocommerce span.onsale,
.woocommerce .wc-new-badge,
.woocommerce .out-of-stock-badge,
.woocommerce .free-badge{
	background:#f8994f;
}

#footer{
	font-size:12px;
}
.product_meta .need-help,
.product_meta .leave-feedback{
	display:none;
}
.yith-wcwl-share span{
	display:none;
}
.woocommerce table.wishlist_table{
	border:0;
}
.garantia{
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
}
.garantia h5{
	color:#666;
	margin-bottom:10px;
}
.woocommerce-checkout .help-bar{
	display:none;
}
.show-main-nav,
.mobile-cart-link,
.mobile-search-link{
	font-size:22px;
}
#logo a.mobile-cart-link{
	margin-right:15px;
}
#logo a.mobile-search-link{
	margin-right:15px;
}
.cart-contents .fa-shopping-bag{
	margin-right:5px;
}
@media only screen and (max-width: 479px){
	#logo a:first-child {
    	max-width: 50% !important;
    	margin-top:-5px;
    }
    .rev_slider li .tp-parallax-wrap:nth-child(3){
    	display:none;
    }
}


/*   LOGIN CAMPANA  */

.bajada-text p{
	font-size: 18px;
	color:#ffffff;
}
.intro_text {
	font-size: 15px;
	/*color:#ffffff;*/
}

.woocommerce-FormRow a{
	width: 95%;
	padding-top: 10px;
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.woocommerce-FormRow a i{
	float: left;
}

#login-campana {
	margin-top: 100px;
	color:#ffffff;
}
#login-campana label {
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: -15px;
}
#login-campana input[type=text] {
	width:98%;
	height: 30px;
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
#login-campana input[type=password] {
	width:98%;
	height: 30px;
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
#login-campana input[type=submit] {
	float:right;
    height: 40px;
    width: 170px;
}
#login-campana .bases-text{
	font-size: 15px;
}
.bases-text p a{
	color:#000000;
	font-weight: bolder;

}
.btn-azul .vc_btn3.vc_btn3-color-white, .vc_btn3.vc_btn3-color-white.vc_btn3-style-flat {
	color:#54b3ba;
}
.box-redes {
	background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    margin-bottom: 30px;
    color: #ffffff;
    padding: 20px 0 0 0;
    height: 215px;
}
.box-redes h1 {
	font-size:32px;
	color:#ffffff;
}

#login-campana input[type=submit] {
	border: none;
	background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-weight: bold;
}

#login-campana input[type=submit]:hover {
	background: #fff;
	color:rgb(84,179,186);

}

#login-campana {
    margin-top: 0px !important;
}

#login-campana label {
	font-weight: normal;
}

.btn-facebook, .btn-google {
	text-shadow: none !important;
}

/*FRANJA GRACIAS */
.woocommerce .woocommerce-credit_card {
    background: #F8994F;
    color: #fff;
    box-shadow: none;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	padding: 12px 20px;
	margin-bottom: 40px!important;
	line-height: 30px;
}
.woocommerce .woocommerce-credit_card i {
	font-size: 16px;
}

.woocommerce .woocommerce-credit_card span {
	margin-left: 10px;
	font-size: 16px;
}

/*FRANJA MI CUENTA */
.woocommerce .woocommerce-ticket {
	background: #D0F2F0 ;
	color: #000;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	text-shadow: none;
	padding: 12px 20px;
	margin-bottom: 40px!important;
	line-height: 30px;
}
.woocommerce .woocommerce-ticket i {
	font-size: 16px;
}

.woocommerce .woocommerce-ticket span {
	margin-left: 10px;
	font-size: 16px;
}

.woocommerce-checkout p.thank-you {
	margin-bottom: 0;
	border-bottom: none;
}
/* BOTON FRANJA MI CUENTA*/
.btn-tienda {
	background: #000;
	color: #ffffff;
}
.btn-tienda:hover {
	background: #D0F2F0;
	color: #000;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .sf-roll-button.checkout-button, .sf-roll-button.shop-button {
	background: #54b3ba !important;
	color: #FFF !important;
	transition: none;
	text-align: center;
}

.sf-roll-button.bag-button {
	text-align: center;
	background: #222;
	color: #FFF;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .sf-roll-button.checkout-button:hover, .sf-roll-button.shop-button:hover {
	background: none !important;
    color: #222 !important;
    border: 2px solid #54b3ba;
}

.password-change {
	font-size: 16px;
	cursor: pointer;
}

.password-change-form {
	display: none;
}

.lista-bancos {
	margin-top: -50px;
	text-align: center;
    font-size: 48px;
    color: #999;
}

.lista-bancos i {
	margin-left: -10px;
}

.imagen-mobile-top { display:none; margin-bottom:-40px;}

@media (max-width: 600px) {
  .imagen-mobile-top {
    display: block;
    width: 100%;
    margin-bottom: -80px;
  }
}

/*  BTN COMPRAR*/

#btn-comprar {
	width: 26%;
	float: right;
	margin-right: 35px;
	color: #ffffff;

	background: #54b3ba;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	height: 40px;
	padding: 0 15px;

	font-weight: bold!important;
	outline: 0!important;
}

#btn-comprar:hover {
	background: #ffffff;
	color: #000000;
	border: 1px solid #54b3ba;
}

@media (max-width: 600px) {
	#btn-comprar {
		width: 100%;
		float: right;
		margin: 10px 0px;
		color: #ffffff;

		background: #54b3ba;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		height: 40px;
		padding: 0;

		font-weight: bold!important;
		outline: 0!important;
	}


}
@media (max-width: 320px) {
	.woocommerce form.cart button.single_add_to_cart_button {
		width:85%;
	}
	.woocommerce form.cart div.yith-wcwl-add-to-wishlist {
		width: 14%;
	}

	.form-wppp-select{
		float:right;
		margin-top:0px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	.woocommerce form.cart button.single_add_to_cart_button {
		width:89%;
	}
	.woocommerce form.cart div.yith-wcwl-add-to-wishlist {
		width: 10%;
	}
}




/* FIX click radio button en area de selección de despacho*/
#shipping_method li label {
    margin-left: 25px;
}


.cart_totals #shipping_method li label {
	margin-left: 0px;
}

/* fix color validate phone */
.woocommerce-invalid-phone input.input-text {
	border-color: #a00 !important;
}

/* fix radio button formulario my account*/
.fix_radio {
	float:left;
}

@media only screen and (min-width: 760px){
	.login-register-resp {
		width:60%;
		margin: 0 auto;
	}
}

/* FIX radio button checkout*/
.woocommerce ul#shipping_method li {
	margin: 0;
	padding: 0 0 10px 0;
	text-indent: 0;
	list-style: none;
}

.woocommerce ul#shipping_method li label {
	padding-left: 20px;
	display: block;
}

/**************			Franjas  header			****************************/
@media only screen and (min-width: 960px){
	.class_categoria-mascotas .page-heading h1, .class_categoria-smarthome .page-heading h1, .class_categoria-alimentacion-saludable .page-heading h1, .class_categoria-aire-libre .page-heading h1, .class_categoria-hogar .page-heading h1, .class_categoria-infantil .page-heading h1, .class_categoria-reciclaje .page-heading h1, .class_categoria-saludbelleza .page-heading h1 {
		color: #ffffff !important;
	}
	.class_categoria-mascotas #breadcrumbs, .class_categoria-smarthome #breadcrumbs, .class_categoria-alimentacion-saludable #breadcrumbs, .class_categoria-mascotas #breadcrumbs a, .class_categoria-smarthome #breadcrumbs a, .class_categoria-alimentacion-saludable #breadcrumbs a, .class_categoria-aire-libre #breadcrumbs, .class_categoria-aire-libre #breadcrumbs a, .class_categoria-hogar #breadcrumbs, .class_categoria-hogar #breadcrumbs a, .class_categoria-infantil #breadcrumbs, .class_categoria-infantil #breadcrumbs a, .class_categoria-reciclaje #breadcrumbs, .class_categoria-reciclaje #breadcrumbs a, .class_categoria-saludbelleza #breadcrumbs, .class_categoria-saludbelleza #breadcrumbs a{
		color:#ffffff !important;
	}

	.class_categoria-smarthome .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-smarthome.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}

	.class_categoria-smarthome .asset-bg .container {
		margin-left: 15%;
	}

	.class_categoria-reciclaje .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-reciclaje.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}
	.class_categoria-reciclaje .asset-bg .container{
		margin-left: 15%;
	}

	.class_categoria-mascotas .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-mascotas.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}
	.class_categoria-mascotas .asset-bg .container{
		margin-left: 15%;
	}

	.class_categoria-infantil .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-infantil.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}
	.class_categoria-infantil .asset-bg .container{
		margin-left: 15%;
	}

	.class_categoria-hogar .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-hogar.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}
	.class_categoria-hogar .asset-bg .container{
		margin-left: 15%;
	}


	.class_categoria-alimentacion-saludable .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-alimentacion-saludable.png);
		background-repeat: repeat;
		background-position: inherit !important;
		background-size: auto;
	}

	.class_categoria-alimentacion-saludable .asset-bg .container {
		margin-left: 15%;
	}

	.class_categoria-aire-libre .asset-bg{
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/categoria-aire-libre.png) ;
		background-repeat: no-repeat;
		background-position: inherit !important;
		background-size: auto !important;
	}
	.class_categoria-aire-libre .asset-bg .container{
		margin-left: 15%;
	}

	.class_categoria-saludbelleza .asset-bg {
		background-image: url(https://test.denda.cl/wp-content/uploads/2016/10/saludbelleza.png) ;
		background-repeat: no-repeat;
		background-position: inherit !important;
		background-size: auto !important;
	}
	.class_categoria-saludbelleza .asset-bg .container{
		margin-left: 15%;
	}
}

.woocommerce-MyAccount-navigation li a:hover, .woocommerce-MyAccount-navigation li.is-active a {
	color: #54b3ba !important;
}

/* Botones registro y login*/
.woocommerce .my-account-login-wrap form input[type="submit"] {
	float: right !important;
	margin: 10px 0 0 !important;


	color: #ffffff !important;

	background: #54b3ba !important;
	border: 1px solid #54b3ba !important;


	font-weight: bold!important;
	outline: 0!important;

}

.woocommerce .my-account-login-wrap form input[type="submit"]:hover {
	background: #ffffff !important;
	color: #000000 !important;
	border: 1px solid #54b3ba;
}
.my-account-login-wrap .login-wrap form.login p.form-row input[type="submit"]:hover {
	background: #f7f7f7 !important;
	color: #000000 !important;
	border: 1px solid #54b3ba;
}

.woocomerce-FormRow .azul-denda {
	display: inline;
	line-height: 48px;
}

.payment_method_greenti_puntopagos label {
	cursor: default;
}


@media (max-width: 600px) {
	.woocommerce-Reviews {
		width:100%;
	}
}
@media (min-width: 601px) {
	.woocommerce-Reviews {
		width: 43%;
	}
}

@media (max-width: 460px) {
	.single_add_to_cart_button {
		/*width:100% !important;*/
		width: 100%;
	}
}

@media (max-width: 480px) {
	button.single_add_to_cart_button {
		/*width:100% !important;*/
		width: 87%;
	}
	.yith-wcwl-add-to-wishlist {
		width: 12%;
	}
}

/*
 * Fluid youtube video embed
 */

.accordion .accordion-body p:last-child {
	position: relative;
	padding-bottom: 56.25% !important;
	padding-top: 25px !important;
	height: 0;
}
.accordion .accordion-body p:last-child iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.accordion ul {
	list-style-type: disc;
}

/*
 * Style precio para resultado de búsquedas
 */
 .precio_prod{
	font-weight: bold;
	color: #222;
	text-align: right;
	padding: 0 15px;
}

/*
 * Style para landing de registro https://denda.cl/registro/
 */
.registro {
	margin-top: 100px;
}
.registro .login-wrap {
	margin-top: -50px;
}
.registro div#logo {
	width: 40%;
	height: 60px;
	margin: 0 auto;
	display: block;
	position: relative;
	top: -140px;
	background-image: url(landing-registro/img/denda.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.registro p#dcto {
	color: #888;
	position: relative;
	top: -115px;
	text-align: center;
	font-size: 35px;
	margin: 0;
}

@media only screen and (max-width: 980px){
	.registro p#dcto {
		line-height: 40px;
	}
}
@media only screen and (min-width: 980px){
	.my-account-login-wrap.registro {
		background-image: url(landing-registro/img/landingpage-inscripcion.png);
		background-size: contain;
		background-position: center;
	}
	.registro .login-register-resp {
		width: 40%;
		padding: 3% 0;
	}
}