@font-face {
	font-family: 'stonestick_free_testerregular';
	src: url('stonestick-free_tester-webfont.woff2') format('woff2'),
		url('stonestick-free_tester-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #FFF !important;
}
.main-topic {
	background: url(../img/DESCUENTOS-FEBRERO-MARZO-LANDINGPAGE-2.png) 50% 100%;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 50px 0 110px;
	width: 100%;
	height: 450px;
}

.main-topic h3,
.main-topic h5 {
	text-align: center;
}

.main-topic h3 {
	font-family: 'stonestick_free_testerregular' !important;
	color: rgb(96,167,174);
	font-size: 80px;
	font-weight: 100;
}

.main-topic h5 {
	font-family: 'Helvetica Neue' !important;
	font-weight: 200;
	font-size: 40px;
}

.color-wrap.febrero {
	background-color: #DDD;
	/*margin: 1% 0;*/
}

.color-wrap.febrero .color-picker {
	padding-bottom: 28% !important;
}

.color-wrap.febrero .color-picker .icon13 {
	background-color: greenyellow;
	width: 200px;
	height: 200px;
	z-index: -30;
	background: url(../img/hoja.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: -20px -290px;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	top: 0;
	left: 0;
}

.color-wrap.febrero .color-picker .icon27.bottom-right {
	width: 200px;
	height: 200px;
	z-index: -30;
	background: url(../img/hoja.png);
	background-repeat: no-repeat;
	background-position: 0px -330px;
	background-size: 400px;
	bottom: 0;
	top: initial;
	right: 0;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(90deg);
}

.color-wrap.febrero .color-picker a {
	top: 330px;
}

.color-wrap.febrero .color-item {
	padding: 10%;
	border-right: 5px solid #FFF;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
}

.color-wrap.febrero #last .color-item {
	border-right: none;
}

.color-wrap.febrero .color-item .box {
	border: 15px solid #000;
	padding: 10%;
}

.color-wrap.febrero .color-item .box .label-subject {
	margin: 0;
	color: #000;
}

.color-wrap.febrero .color-item .box .label-subject#first {
	font-weight: 100 !important;
	font-size: 50px !important;
	text-align: center;
	margin: 0 auto;
}

.color-wrap.febrero .color-item .box .line {
	border-bottom: 1px solid #000;
	width: 50%;
	margin: 0 auto;
	display: block;
}

.color-wrap.febrero .color-item .box .label-subject#second {
	font-size: 90px !important;
}

@media (max-width: 1200px){
	.color-wrap.febrero .color-picker {
		width: 50%;
		padding-bottom: 35% !important;
	}
	.color-wrap.febrero .color-item {
		border: none;
	}
}

@media (max-width: 980px) {
	.color-wrap.febrero .color-picker {
		padding-bottom: 42% !important;
	}
}

@media (max-width: 768px) {
	.color-wrap.febrero .color-picker {
		width: 100%;
		padding-bottom: 55% !important;
	}
	.color-wrap.febrero .color-picker a {
		font-size: 0.9em;
		display: block;
		position: relative;
		top: 270px !important;
		width: 150px !important;
		margin-right: 150px !important;
		background-color: rgba(0, 0, 0, 0.6);
		border-color: rgba(0, 0, 0, 0);
		right: 0px !important;
		height: 35px;
	}
}

@media (max-width: 640px) {
	.color-wrap.febrero .color-picker {
		width: 100%;
		padding-bottom: 60% !important;
	}
}

@media (max-width: 610px) {
	.color-wrap.febrero .color-picker a {
		top: 320px !important;
		right: 75px !important;
	}
	.color-wrap.febrero .color-item .box .label-subject#second {
		text-align: center;
	}
}

@media (max-width: 415px) {
	.color-wrap.febrero .color-picker {
		padding-bottom: 80% !important;
	}
	.color-wrap.febrero .color-picker a {
		top: 275px !important;
		right: -15px !important;
	}
}

@media (max-width: 375px) {
	.color-wrap.febrero .color-picker {
		padding-bottom: 75% !important;
	}
	.color-wrap.febrero .color-picker a {
		top: 265px !important;
		right: -40px !important;
	}
}

@media (max-width: 320px) {
	.color-wrap.febrero .color-picker {
		padding-bottom: none;
		height: 350px;
	}
	.color-wrap.febrero .color-picker a {
		right: -65px !important;
		top: 250px !important;
	}
}